@use "../abstracts/variables";

body {
    font-family: variables.$font-stack;
    min-height: 100vh;
}

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: variables.$color-footer-blue;
    }
}
